@import "../../scss/variables.scss";

.navContainer {
  flex: 0 0 300px;
  background-color: $colour-primary;
  transition: all 0.3s ease-in;
  position: relative;
  left: -5px;
}

.menuInactive {
  position: absolute;
  left: -350px;
}
