.gallery-container {
  // position: absolute;
  // top: 0px;
  // bottom: 0px;
  // width: 70%;
  // height: 100%;
}

//debugging
.gallery-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
