.carousel-container {
  flex: 1;
  width: 100%;
  margin-left: 28px;
}

.button-previous {
  display: none;
  background-color: rgba(131, 131, 131, 0.5); /* Green */
  border: none;
  color: white;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  height: 300px;
  width: 30px;
  position: absolute;
  top: 29%;
  left: 3%;
  z-index: 20;
}

.button-next {
  background-color: rgba(131, 131, 131, 0.5); /* Green */
  border: none;
  color: white;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  height: 300px;
  width: 30px;
  position: absolute;
  top: 29%;
  right: 3%;
  z-index: 20;
}

.button-active {
  display: block;
}
