@import "../../scss/variables.scss";

.carouselContainer {
  flex: 1;
  width: 100vw;
}

.buttonPrevious {
  display: none;
  background-color: $colour-primary-trans-half;
  border: none;
  color: $colour-secondary;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  &:hover {
    background-color: $colour-primary;
    cursor: pointer;
  }
}

.buttonNext {
  background-color: $colour-primary-trans-half;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  &:hover {
    background-color: $colour-primary;
    cursor: pointer;
  }
}

.arrowIcon {
  font-size: 50px;
  color: $colour-secondary-trans-half;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonActive {
  display: block;
}
