$colour-primary: rgb(131, 131, 131);
$colour-primary-light: rgb(218, 218, 218);
$colour-primary-light-trans: rgba(218, 218, 218, 0);
$colour-primary-light-trans-half: rgba(131, 131, 131, 0.5);

$colour-secondary: white;

$colour-orange: orange;
