@import "../../scss/variables.scss";

.itemWrapper {
  margin: 1px 1px 1px 0;
  display: flex;
}

.itemSpacing {
  background-color: $colour-primary-light-trans;
  width: 5px;
  height: 40px;
  position: relative;
  top: 0;
  left: 300px;
  z-index: 50;
}

.itemSpacingActive {
  position: relative;
  top: 0;
  left: 310px;
  animation-name: shift;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.itemContainer {
  position: relative;
  left: 0;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.4px;
  height: 40px;
  width: 315px;
  background-color: $colour-primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $colour-primary;

  &:hover {
    cursor: pointer;
    color: $colour-secondary;
  }
}

.active {
  font-family: "Roboto", sans-serif;
  background-color: $colour-primary;
  color: $colour-secondary;
  transition: all 0.3s ease-in;
  animation-name: fade;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes shift {
  from {
    transform: translateX(0px);
    background-color: $colour-primary-light-trans;
  }
  to {
    transform: translateX(-305px);
    background-color: $colour-orange;
  }
}

@keyframes fade {
  from {
    background-color: $colour-primary-light;
  }
  to {
    background-color: $colour-primary;
  }
}
